.Rproj.user
.Rhistory
.RData
.Ruserdata
*.eds
*.edt
*.html
/excel files
/qPCR analysis/.Rproj*
/qPCR analysis/Extra*
*.png
*.jp*
/LinRegPCR
*.pdf
*.xls#
qPCR data files/Template files/desktop.ini
.DS_Store
scripts_extra/gganimate_ioslides_test.Rmd
qPCR complete data - 091123 Schools Sampler Test pMMoV.csv
pmmov_plot.r
091123 - 101123 pMMoV ddPCR Results_plot.tiff
